<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9182b3c7-f848-4572-b400-f957632476fd/resourceGroups/personal-basic-resource/providers/Microsoft.Web/sites/estudimasdanang</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://estudimasdanang.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>estudimasdanang.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>estudimasdanang</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$estudimasdanang</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>